<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APTX Hub</title>
    <link href="~/images/favicon.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tailwind2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tailwind3.css" asp-append-version="true" />
</head>
<body>

    <div id="wrapper">

        @if (User?.Identity?.IsAuthenticated == true)
        {
            @* * Topbar *@
            <partial name="Navigation/_TopBar" />

            @* Side bar (left) *@
            <partial name="Navigation/_SideBar" /> 
        
        }


        @RenderBody()

        @* Button sroll top  *@
        <partial name="Navigation/_ScrollTop" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* Asset scripts *@
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/simplebar.js"></script>
    <script src="~/js/script.js"></script>

    @* Ion Icon *@
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        const scrollTopBtn = document.getElementById("scrollTopBtn");

        // Show/hide nút khi scroll
        window.addEventListener("scroll", () => {
            if (window.scrollY > 300) {
                scrollTopBtn.classList.remove("hidden");
            } else {
                scrollTopBtn.classList.add("hidden");
            }
        });

        // Scroll lên đầu trang
        scrollTopBtn.addEventListener("click", () => {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@* <script> *@
@*     const cssPath = "/css/tailwind2.css"; *@
@*     const interval = 1000; // Kiểm tra mỗi 1 giây *@
@*     let lastHref = ""; *@

@*     setInterval(() => { *@
@*         const links = [...document.querySelectorAll('link[rel="stylesheet"]')]; *@
@*         const cssLink = links.find(l => l.href.includes(cssPath)); *@
@*         if (!cssLink) return; *@

@*         const newHref = `${cssPath}?v=${new Date().getTime()}`; *@
@*         if (newHref !== lastHref) { *@
@*             const clone = cssLink.cloneNode(); *@
@*             clone.href = newHref; *@
@*             clone.onload = () => cssLink.remove(); // Khi file mới load xong thì xóa file cũ *@
@*             cssLink.parentNode.insertBefore(clone, cssLink.nextSibling); *@
@*             lastHref = newHref; *@
@*         } *@
@*     }, interval); *@
@* </script> *@
