@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bg-blue-600 text-4xl">Welcome</h1>
    <p class="text-black">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
