@inject UserManager<User> UserManager;

@{
    var loggedInUser = await UserManager.GetUserAsync(User);
    var userName = loggedInUser?.UserName;
    var fullName = loggedInUser?.FullName;
    var profilePictureUrl = loggedInUser?.ProfilePictureUrl;
}

<header class="z-[100] h-[--m-top] fixed top-0 left-0 w-full flex items-center bg-white/80 sky-50 backdrop-blur-xl border-b border-slate-200">
    <div class="2xl:w-[--w-side] lg:w-[--w-side-sm]">
        <div class="flex items-center gap-1">
            <button uk-toggle="target: #site__sidebar ; cls :!-translate-x-0"
                    class="flex items-center justify-center w-8 h-8 text-xl rounded-full hover:bg-gray-100 xl:hidden group">
                <ion-icon name="menu-outline" class="text-2xl group-aria-expanded:hidden"></ion-icon>
                <ion-icon name="close-outline" class="hidden text-2xl group-aria-expanded:block"></ion-icon>
            </button>

            <div id="logo" class="flex items-center ml-2">
                <a asp-controller="Admin" asp-action="Index" class="flex items-center select-none">
                    <img src="~/images/logo.png" class="w-12 md:block hidden" />
                    <span class="ml-2 font-bold text-2xl">APTXHub - Admin</span>
                </a>
            </div>

        </div>
    </div>
    <div class="flex-1 relative">


        <div class="max-w-[1220px] mx-auto flex items-center">
            <div class="flex items-center sm:gap-4 gap-2 absolute right-5 top-1/2 -translate-y-1/2 text-black">

                <button type="button" class="sm:p-2 p-1 rounded-full relative sm:bg-secondery">
                    <svg fill="#000000" class="w-6 h-6 max-sm:hidden" viewBox="0 0 35 35" data-name="Layer 2" id="Layer_2" xmlns="http://www.w3.org/2000/svg"><path d="M18.44,34.68a18.22,18.22,0,0,1-2.94-.24,18.18,18.18,0,0,1-15-20.86A18.06,18.06,0,0,1,9.59.63,2.42,2.42,0,0,1,12.2.79a2.39,2.39,0,0,1,1,2.41L11.9,3.1l1.23.22A15.66,15.66,0,0,0,23.34,21h0a15.82,15.82,0,0,0,8.47.53A2.44,2.44,0,0,1,34.47,25,18.18,18.18,0,0,1,18.44,34.68ZM10.67,2.89a15.67,15.67,0,0,0-5,22.77A15.66,15.66,0,0,0,32.18,24a18.49,18.49,0,0,1-9.65-.64A18.18,18.18,0,0,1,10.67,2.89Z" /></svg>

                </button>
                <div class="rounded-full relative bg-secondery cursor-pointer shrink-0">
                    <img src="@(string.IsNullOrEmpty(profilePictureUrl) ? Url.Content("/images/avatar/user.png") : Url.Content(profilePictureUrl))" class="sm:w-9 sm:h-9 w-7 h-7 rounded-full shadow shrink-0" />
                </div>
                <div class="hidden bg-white rounded-lg drop-shadow-xl w-64 border2" uk-drop="offset:6;pos: bottom-right;animate-out: true;">

                    <a>
                        <div class="p-4 py-5 flex items-center gap-4">
                            <img src="@(string.IsNullOrEmpty(profilePictureUrl) ? Url.Content("/images/avatar/user.png") : Url.Content(profilePictureUrl))" " class="w-10 h-10 rounded-full shadow" />
                            <div class="flex-1">
                                <h4 class="text-sm font-medium text-black">@fullName</h4>
                                <div class="text-sm mt-1 text-blue-600 font-light/70">@userName</div>
                            </div>
                        </div>
                    </a>
                    <hr />
                    <nav>
                        <a asp-controller="Settings" asp-action="Index">
                            <div class="flex items-center gap-2.5 hover:bg-secondery p-2 px-2.5 rounded-md">
                                <ion-icon name="settings-outline" class="text-lg"></ion-icon> My Account
                            </div>
                        </a>
                        <hr />
                        <a asp-controller="Admin" asp-action="Index">
                            <div class="flex items-center gap-2.5 hover:bg-secondery p-2 px-2.5 rounded-md">
                                <ion-icon name="person-outline" class="text-lg"></ion-icon> Dashboard
                            </div>
                        </a>
                        <hr />
                        <a asp-controller="Auth" asp-action="Logout" onclick="return confirm('Are u sure u want to logout?');">
                            <div class="flex items-center gap-2.5 hover:bg-secondery p-2 px-2.5 rounded-md">
                                <ion-icon name="exit-outline" class="text-lg"></ion-icon> Log Out
                            </div>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>