    <div class="flex items-baseline justify-between text-black">
    <h3 class="font-bold text-xl"> People you may know </h3>
</div>

<div class="side-list">
    <div class="side-list-item">
        <a asp-action="Details" asp-controller="Users" asp-route-userId="1">
            <img src="~/images/placeholders/khanhvy.jpg" class="side-list-image rounded-full object-cover" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title text-14">
                    Khánh Vy
                </h4>
            </a>
            <div class="side-list-info text-13">9 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary text-13">Follow</button>
        </form>
    </div>
    <div class="side-list-item">
        <a>
            <img src="~/images/placeholders/thanhtuyen.jpg" class="side-list-image rounded-full object-cover" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title text-14">
                    Thanh Tuyền
                </h4>
            </a>
            <div class="side-list-info text-13">5 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary text-13">Follow</button>
        </form>
    </div>
   
    <div class="side-list-item">
        <a>
            <img src="~/images/placeholders/jack.jpg" class="side-list-image rounded-full object-cover" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title text-14">
                    Jack - J97
                </h4>
            </a>
            <div class="side-list-info text-13">7 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary text-13">Follow</button>
        </form>
    </div>
</div>