<div class="flex items-baseline justify-between text-black">
    <h3 class="font-bold text-base"> People you may know </h3>
</div>

<div class="side-list">
    <div class="side-list-item">
        <a>
            <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t39.30808-6/500242631_1214216023409426_9221685012265283381_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFcwdlEGyZyF-x0S6bcHZ0EhOPmKqoty_yE4-Yqqi3L_C8XnRJgFce8ymawfAs_QbyLOTxER77mvRBEzElaiVCq&_nc_ohc=7azk77e0SHkQ7kNvwHYuYIk&_nc_oc=Adnfd9br5o5_tI6NF_IXXrqGTDYdUV9Izqt70LR2mu4b5nlhAAFuIWvBYma-VzoXBlMjwyV5c-_YBqnZcgKz3Lir&_nc_zt=23&_nc_ht=scontent-hkg4-1.xx&_nc_gid=T2NZYUwAw14Al-KtumBA1g&oh=00_AfPisZ-aKwxZ7S-O8ShjVP-oL0UZyPWPF8SXRCTb2jYBqQ&oe=685A8ADD" class="side-list-image rounded-full object-cover" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title text-14">
                    Khánh Vy
                </h4>
            </a>
            <div class="side-list-info text-13">6 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary">Follow</button>
        </form>
    </div>
    <div class="side-list-item">
        <a>
            <img src="https://scontent-hkg1-2.xx.fbcdn.net/v/t39.30808-6/479480979_1149551589917463_8208017990573634083_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHd0OdkpVDHmbwVO33Lte7FOeVOCL7hgq455U4IvuGCrgy0cF7c4WihQiTdGQY1FPBW4SzpBOumqYS0ddrk7D0j&_nc_ohc=PgZRMJPFbT0Q7kNvwFH27Mi&_nc_oc=AdndaCa4fqBVOwe3o-b3IdkdDZtNQG-03cdNLqFsQtmAsfBwoKcNmjEf4nKbR87egkD13Qp2p-zQ35yvJeQRd0de&_nc_zt=23&_nc_ht=scontent-hkg1-2.xx&_nc_gid=9BIEgGX6ucYrOsJYuezPxg&oh=00_AfP8S8S4_vZ_qDaoTeV7OsZRLmKAAa6D-dwl7t_X7Z1QTg&oe=685AA648" class="side-list-image rounded-full object-cover" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title text-14">
                    Thanh Tuyền
                </h4>
            </a>
            <div class="side-list-info text-13">5 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary">Follow</button>
        </form>
    </div>
   
    <div class="side-list-item">
        <a>
            <img src="~/images/avatar/user.png" class="side-list-image rounded-full" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title text-14">
                    Lisa
                </h4>
            </a>
            <div class="side-list-info text-13">7 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary">Follow</button>
        </form>
    </div>
</div>